@media (max-width: 767px) {
  .dropdown-menu .divider { background-color: #3c3c3c; }
  .navbar .navbar-nav .open .dropdown-menu {
    background-color: #2e2e2e;
  }
  .navbar .navbar-nav .open .dropdown-menu>li>a {
    color: #a9a9a9;
  }
  .navbar .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
  }
}

/* Sidebar */
#sidebar .handle, #sidebar .info {
  color: #a9a9a9;
  background-color: #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
#sidebar .info a { color: #fff; }

/* Calendar */
@media screen and (max-width: 767px) {
  #calendar-table.table-responsive {
    border: 1px solid #3c3c3c;
  }
}
#calMonth>thead>tr>th {
  border-bottom: 2px solid #3c3c3c;
}

@media (max-width: 767px) {
  .nav-tabs.nav-justified>li>a {
    border-bottom: none;
  }
}
