@media (max-width: 767px) {
  .dropdown-menu .divider { background-color: #3c3c3c; }
  .navbar .navbar-nav .open .dropdown-menu {
    background-color: #2e2e2e;
  }
  .navbar .navbar-nav .open .dropdown-menu>li>a {
    color: #a9a9a9;
  }
  .navbar .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
  }
}
