@import "variables/core";
@import "components/bootswatch/journal/variables";
@import "components/bootswatch/journal/bootswatch";

$jumbotron-bg: theme-color('primary');

@import "components/bootstrap/scss/bootstrap";

.navbar-contextual.sticky-top {
  z-index: 1020;
}

.jumbotron {
  color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
