@import "variables/core";
@import "components/bootswatch/sketchy/variables";
@import "components/bootstrap/scss/bootstrap";
@import "components/bootswatch/sketchy/bootswatch";

.navbar-contextual {
  &.sticky-top {
    z-index: 1020;
  }

  .navbar-brand a {
    text-decoration: none;
  }
}

[type="checkbox"] {
  &:before {
    position: relative;
    top: 0;
  }
                                                                                                                                                                                             
  &:checked:after {
    left: 3px;
    top: -10px;
  }
}

[type="radio"] {
  &:before {
    position: relative;
    top: 0;
  }
}

.form-check-label {
  padding-left: 1.5rem;
}

