// Material core overrides
@import "variables/colors";

// variable overrides
$bmd-navbar-link-font-size: 1rem !default;
$brand-primary: theme-color('primary');

$navbar-dark-color: rgba($white,.75) !default;

// import
@import "node_modules/bootstrap-material-design/scss/bootstrap-material-design";
@import "common/picture-info-sidebar";

// additional styles
.navbar-main {
  box-shadow: none;
}
.navbar-form .bmd-form-group {
  display: block !important;
}
.nav-link {
  text-transform: none;
}
.navbar-contextual.sticky-top {
  z-index: 1020;
}

.dropdown-menu {
  min-width: 15rem;

  // work around broken collapsed navbar
  @include media-breakpoint-down(md) {
    display: none;
  }
  .dropdown-item {
    max-width: 100%;
  }
}

// awkward stuff...
.checkbox label,
.checkbox-inline,
.is-focused .checkbox label,
.is-focused .checkbox-inline,
.is-focused .radio label,
.is-focused .radio-inline,
.is-focused .switch label,
.radio label,
.radio-inline,
.switch label,
select.form-control,
input[type=text].form-control {
  color: inherit;
}

// Slick carousel
.slick-prev:before,
.slick-next:before {
  color: theme-color('primary'); 
}

#theImageInfos #Tags .btn {
  text-transform: none;
}
