// Material Deep-Purple Style

@import "variables/core";
@import "variables/colors";

// override Bootstrap's theme colors
$theme-colors: (
  primary: $purple-700,
  secondary: $purple-400,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $purple-200,
  dark: $purple-900
) !default;

$link-decoration:         none !default;
$link-hover-decoration:   none !default;

$jumbotron-bg:            theme-color('secondary');

// now, import top-level material
@import "material-core";

.navbar-contextual {
  background-color: theme-color('secondary');
}

.dropdown-item.active a {
  color: inherit;
}
.card-footer {
  border-top: none;

  &.text-muted {
    font-size: 0.75rem;
  }
}
