// Material Deep-Purple Style

@import "variables/core";
@import "variables/colors";

// override Bootstrap's theme colors
$theme-colors: (
  primary: #009688,
  secondary: #448aff,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: #b2dfdb,
  dark: #004c40
) !default;

$link-decoration:         none !default;
$link-hover-decoration:   none !default;

$jumbotron-bg:            #00796b;
$body-bg:                 #f5f5f6;

// now, import top-level material
@import "material-core";

.navbar-contextual {
  background-color: #48a999 !important;
}

.dropdown-item.active a {
  color: inherit;
}
.card-footer {
  border-top: none;

  &.text-muted {
    font-size: 0.75rem;
  }
}

#sidebar {
 .handle {
    color: $white;
    background-color: theme-color('secondary') !important;
    border-top: 1px solid theme-color('secondary') !important;
    border-bottom: 1px solid theme-color('secondary') !important;
    border-left: 1px solid theme-color('secondary') !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);

    a {
      color: #fff;
                                                                                                                                                                      
      &:hover, &:focus {
        color: #eee;
      }
    }
  }
                                                                                                                                                                      
  .info {
    color: $white;
    background-color: theme-color('secondary') !important;
    border-top: 1px solid theme-color('secondary') !important;
    border-bottom: 1px solid theme-color('secondary') !important;
    border-left: 1px solid theme-color('secondary') !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  }
}
