// Material Deep-Purple Style

@import "variables/core";

// override Bootstrap's theme colors
$theme-colors: (
  primary: #3F51B5,
  secondary: #03A9F4,
  light: #C5CAE9,
  dark: #303F9F
) !default;

$body-bg:                 #fff;
$body-color:              #212121;

$jumbotron-bg:            #3F51B5;

$link-decoration:         none !default;
$link-hover-decoration:   none !default;

// now, import top-level material
@import "material-core";

.jumbotron {
  color: $white;
}

.dropdown-item.active a {
  color: inherit;
}
.card-footer {
  border-top: none;
}

input[type=text].form-control,
input[type=password].form-control {
  color: $black;
}

#sidebar {
 .handle {
    color: $white;
    background-color: theme-color('primary') !important;
    border-top: 1px solid theme-color('primary') !important;
    border-bottom: 1px solid theme-color('primary') !important;
    border-left: 1px solid theme-color('primary') !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);

    a {
      color: #fff;
                                                                                                                                                                      
      &:hover, &:focus {
        color: #eee;
      }
    }
  }
                                                                                                                                                                      
  .info {
    color: $white;
    background-color: theme-color('primary') !important;
    border-top: 1px solid theme-color('primary') !important;
    border-bottom: 1px solid theme-color('primary') !important;
    border-left: 1px solid theme-color('primary') !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  }
}
