// import functions
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

// Core variable overrides that affect all styles
$card-border-radius:       .125rem !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1680px
) !default;

@import "colors";
