@font-face
  font-family 'PT Sans'
  src local('PT Sans'),
         local('PTSans-Regular'),
         url('fonts/ptsans.woff2') format('woff2'),
         url('fonts/ptsans.woff') format('woff'),
         url('fonts/ptsans.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'PT Sans'
  src local('PT Sans Italic'),
         local('PTSans-Italic'),
         url('fonts/ptsansitalic.woff2') format('woff2'),
         url('fonts/ptsansitalic.woff') format('woff'),
         url('fonts/ptsansitalic.ttf') format('truetype')
  font-weight 400
  font-style italic

@font-face
  font-family 'PT Sans'
  src local('PT Sans Bold'),
         local('PTSans-Bold'),
         url('fonts/ptsansbold.woff2') format('woff2'),
         url('fonts/ptsansbold.woff') format('woff'),
         url('fonts/ptsansbold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'PT Sans'
  src local('PT Sans Bold Italic'),
         local('PTSans-BoldItalic'),
         url('fonts/ptsansbolditalic.woff2') format('woff2'),
         url('fonts/ptsansbolditalic.woff') format('woff'),
         url('fonts/ptsansbolditalic.ttf') format('truetype')
  font-weight 700
  font-style italic
