local_head.tpl
npm-debug.log
yarn-error.log
.DS_Store

# for custom themes
css/custom/*.css
scss/custom/*.scss

#########################################################################
# This list is rather static, so let's use gitignore tricks
# Alternate approach:
# yarn install --prod --modules-folder components --ignore-optional
# but this one is more fine-grained
#########################################################################
node_modules/*

!node_modules/bootstrap
node_modules/bootstrap/*
!node_modules/bootstrap/dist
node_modules/bootstrap/dist/*
!node_modules/bootstrap/dist/js

!node_modules/bootstrap-material-design
node_modules/bootstrap-material-design/*
!node_modules/bootstrap-material-design/dist
node_modules/bootstrap-material-design/dist/*
!node_modules/bootstrap-material-design/dist/js

!node_modules/jquery
node_modules/jquery/*
!node_modules/jquery/dist

!node_modules/jquery-migrate
node_modules/jquery-migrate/*
!node_modules/jquery-migrate/dist

!node_modules/popper.js
node_modules/popper.js/*
!node_modules/popper.js/dist
node_modules/popper.js/dist/*
!node_modules/popper.js/dist/umd

!node_modules/font-awesome
node_modules/font-awesome/*
!node_modules/font-awesome/css
!node_modules/font-awesome/webfonts

!node_modules/bootstrap-social
node_modules/bootstrap-social/*
!node_modules/bootstrap-social/*.css

!node_modules/photoswipe
node_modules/photoswipe/*
!node_modules/photoswipe/dist

!node_modules/slick-carousel
node_modules/slick-carousel/*
!node_modules/slick-carousel/slick

!node_modules/selectize
node_modules/selectize/*
!node_modules/selectize/dist

!node_modules/typeface-pt-sans
!node_modules/typeface-roboto
