.form-control { color: #555 !important; }
.form-control::-webkit-input-placeholder { color: #bdbdbd !important; }
.form-control:-moz-placeholder { color: #bdbdbd !important; }
.form-control::-moz-placeholder { color: #bdbdbd !important; }
.form-control:-ms-input-placeholder { color: #bdbdbd !important; }
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  border-bottom: 2px solid #009688 !important;
}
