@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

.jumbotron { display: none; }

body {
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #dbdbdb;
  background-color: #4f4f4f;
}


.navbar-main .navbar-header {
  font-weight: bold;
}

.navbar-default {
  background-color: #2E2E2E;
  border-color: #000;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #000;
}
.navbar-default .navbar-toggle { border-color: #4f4f4f; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #4f4f4f; }

.navbar-main { background-color: #000; }
.navbar-main .navbar-toggle:focus,
.navbar-main .navbar-toggle:hover {
  background-color: #2E2E2E;
}

a,
.navbar-default .navbar-nav>li>a {
  color: #A9A9A9;
}

a:focus,
a:hover,
.navbar-default .navbar-nav>li>a:hover {
   color: #fff;
   text-decoration: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #2e2e2e;

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #4f4f4f;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2e2e2e;
}

@media (max-width: 460px) {
  #thePicturePage .navbar-brand {
    height: 100%;
    width: 80%;
  }
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #2e2e2e;
}

#sidebar .handle, #sidebar .info {
    color: #2e2e2e;
    box-shadow: -5px 0 10px 0px #2e2e2e;
}

#sidebar .info a { color: #4f4f4f; }

@media (min-width: 768px) {
  #rating .dl-horizontal dd {
    margin-left: 230px;
  }
  #rating .dl-horizontal dt {
    width: 220px;
  }
}

/* the carousel */
.slick-slide img { display: inherit !important; }

/* pagination */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #4f4f4f;
  border: 1px solid #000;
}
.pagination>li>a,
.pagination>li>span {
  color: #dbdbdb;
  background-color: #2e2e2e;
  border: 1px solid #000;
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
  background-color: #2e2e2e;
  border: 1px solid #000;
}

/* Shadows */
.placeholder>img,
#theImage>img,
.slick-slide>a>img {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
#theImage {
  padding-bottom: 1em;
}
