// Picture info sidebar
$sidebar-bg:           theme-color('primary') !default;
$sidebar-color:        $navbar-dark-color !default;
$sidebar-hover-color:  $navbar-dark-hover-color !default;
@import "../common/picture-info-sidebar";

.slick-prev:before,
.slick-next:before {
  color: $body-color;
}

.navbar-brand a:first-child:before {
  font-size: $navbar-brand-font-size !important;
}
