@import "../variables/core";
@import "node_modules/bootswatch/darkly/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/darkly/bootswatch";
@import "common";

@include media-breakpoint-up(lg) {
  #navbar-menubar > #quicksearch i.fa {
    top: 10px !important;
  }
}

.navbar {
  &.navbar-transparent.navbar-sm {
    margin-top: -97px !important;
  }

  &.navbar-contextual {
    .nav-item + .nav-item {
      margin-left: .2rem;
    }
  }
}
