@import "../variables/core";
@import "node_modules/bootswatch/sketchy/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/sketchy/bootswatch";
@import "common";

.navbar-contextual {
  .navbar-brand a {
    text-decoration: none;
  }

  &.navbar-transparent.navbar-sm {
    margin-top: -98px !important;
  }
}

.navbar-main + .jumbotron {
  border: none;
}

.card-thumbnail {
  a {
    text-decoration: none;
  }

  .card-footer {
    background-color: inherit;
    border-top: none;
  }
}

[type="checkbox"] {
  &:before {
    position: relative;
    top: 0;
  }
                                                                                                                                                                                             
  &:checked:after {
    left: 3px;
    top: -10px;
  }
}

[type="radio"] {
  &:before {
    position: relative;
    top: 0;
  }
}

.form-check-label {
  padding-left: 1.5rem;
}
