@import "../common/variables";
@import "node_modules/bootswatch/slate/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/slate/bootswatch";
@import "common";

@include media-breakpoint-up(lg) {
  #navbar-menubar > #quicksearch {
    margin-right: 10px;

    i.fa {
      top: 12px !important;
    }
  }
}

.navbar {
  &.navbar-transparent.navbar-sm {
    margin-top: -112px !important;
  }
}
