// directory 
$roboto-npm-webfont-dir:"fonts" !default;

// font"s array configuration
$roboto-npm-webfont-fonts: (
  ("Roboto Thin",           "Roboto-Thin",          "robotothin",           100,    normal), 
  ("Roboto Thin Italic",    "Roboto-ThinItalic",    "robotothinitalic",     100,    italic), 
  ("Roboto Light",          "Roboto-Light",         "robotolight",          300,    normal),
  ("Roboto Light Italic",   "Roboto-LightItalic",   "robotolightitalic",    300,    italic),
  ("Roboto",                "Roboto-Regular",       "roboto",               400,    normal),
  ("Roboto Italic",         "Roboto-RegularItalic", "robotoregularitalic",  400,    italic),
  ("Roboto Medium",         "Roboto-Medium",        "robotomedium",         500,    normal),
  ("Roboto Medium Italic",  "Roboto-MediumItalic",  "robotomediumitalic",   500,    italic),
  ("Roboto Bold",           "Roboto-Bold",          "robotobold",           700,    normal),
  ("Roboto Bold Italic",    "Roboto-BoldItalic",    "robotobolditalic",     700,    italic),
  ("Roboto Black",          "Roboto-Black",         "robotoblack",          900,    normal),
  ("Roboto Black Italic",   "Roboto-BlackItalic",   "robotoblackitalic",    900,    italic)
);

@each $font in $roboto-npm-webfont-fonts {
  
  $name:  nth($font, 1);
  $alias: nth($font, 2);
  $file:  nth($font, 3);

  @font-face {
    font-family: "Roboto";
    src:  local("#{$name}"),
          local("#{$alias}"),
          url("#{$roboto-npm-webfont-dir}/#{$file}.woff2")  format("woff2"),
          url("#{$roboto-npm-webfont-dir}/#{$file}.woff")   format("woff"),
          url("#{$roboto-npm-webfont-dir}/#{$file}.ttf")    format("truetype");
    font-weight:  nth($font, 4);
    font-style:   nth($font, 5);
  }
  
}
