// Index page (category thumbnails)
#content {
  min-height: 100px;

  .col-outer {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.content-grid {
  .col-outer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.content-list {
  .col-outer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card-img-top {
    float: left !important;
    width: 25% !important;
    margin-right: 5rem;
  }
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  &.text-muted {
    font-size: 0.75rem;
  }
}

// still needed?
#theCategoryPage { padding-left: 0px !important; }
