// Navbars
.navbar-expand-lg {
  .navbar-nav {
    .nav-link {
      padding-left: .8rem;
      padding-right: .8rem;
    }
  }
}

.navbar {
  width: 100%;
  padding: 0 1rem;

  // raise above .sticky-top
  &.navbar-main {
    z-index: 1030;
  }
                                                                                                                                                                  
  &.navbar-contextual {
    font-weight: 400;
    margin-bottom: 2rem;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
                                                                                                                                                                    
    .navbar-brand {
      @include media-breakpoint-down(sm) {
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      a,
      a:hover,
      a:focus {
        color: inherit;
      }
    }
  }

  .navbar-collapse {
    @include media-breakpoint-up(md) {
      padding-right: 0;
    }

    &.collapsing .navbar-form,
    &.collapse.show .navbar-form {
      margin: 10px 0 10px;

      .form-group,
      .form-group input {
        width: 100%;
      }
    }
  }

  .navbar-form {
    @include media-breakpoint-down(sm) {
      border-top: none;
      border-bottom: none;
    }
    .checkbox {
      margin-bottom: 5px;
    }
  }
}

#identificationDropdown .dropdown-menu { min-width: 12rem; }
                                                                                                                                                                    
@include media-breakpoint-up(md) {
  #navbar-menubar>#quicksearch {
    float: left;
  }
  #navbar-menubar>#quicksearch input[type="text"] {
    width: 100px;
  }
}
@media (min-width: 992px) {
  #navbar-menubar>#quicksearch input[type="text"] {
    width: 150px;
  }
}
@media (max-width: 991px) {
  #navbar-menubar ul>li>a.dropdown-toggle {
    padding-left: 4px;
  }
}

/* replace the home link in navbar */
.navbar-brand a:first-child {
  font-size: 0;
}
.navbar-brand a:first-child:before {
  content: "\f015";
  font-family: FontAwesome;
  font-size: 18px;
}

/* Quicksearch in navbar */
@include media-breakpoint-up(md) {
  #navbar-menubar>#quicksearch {
    position: relative;
    padding-right: 0px;
                                                                                                                                                                    
  }
                                                                                                                                                                    
  #navbar-menubar>#quicksearch input.form-control {
    padding-left: 0px;
    padding-right: 0px;
  }
                                                                                                                                                                    
  #navbar-menubar>#quicksearch input {
    text-indent: 10px;
  }
                                                                                                                                                                    
  #navbar-menubar>#quicksearch input[type="text"] {
    background: 14px;
    width: 1px !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
                                                                                                                                                                    
  #navbar-menubar>#quicksearch input[type="text"]:focus {
    background: none;
    width: 150px !important;
  }
}
@include media-breakpoint-down(sm) {
  #navbar-menubar>#quicksearch>.fa-search {
    display: none;
  }
}

// Scrollable dropdowns
@include media-breakpoint-up(md) {
  .dropdown-menu-scrollable {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
  }
  .dropdown-menu-scrollable::-webkit-scrollbar {
    width: .5rem;
  }
  .dropdown-menu-scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .dropdown-menu-scrollable::-webkit-scrollbar-thumb {
    background-color: #777777;
    outline: 1px solid #777777;
  }
}

