.pwg-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pwg-button-text {
  display: none;
}

/* GThumb+ */
ul.thumbnailCategories,
ul.thumbnails,
ul#thumbnails {
  padding-left: 0px;
}
ul#thumbnails .gthumb a img.thumbnail {
  border-radius: 0;
  background: none;
}
#content div.loader {
  display: none;
}

/* Openstreetmap Plugin fixlets */
.pwg-icon-globe {
  font-family: none !important;
  line-height: none !important;
}
.pwg-icon-globe:before {
  content:""\f0ac"";
  font-family:"FontAwesome";
}

/* BatchDownloader */
.batch-downloader-icon {
  background: none !important;
  font-family: none !important;
  line-height: none !important;
}
.batch-downloader-icon:before {
  content:"\f0ed";
  font-family:"FontAwesome";
}

/* User Collections */
.user-collections-icon {
  width:16px;
  height:16px;
}
#thumbnails li .addCollection {
  background: rgba(0,0,0,0.7);
  border-radius: 0;
}
#collectionsDropdown {
  padding: 10px;
  color: #4f4f4f;
  background-color: #fff;
}
#collectionsDropdown a { color: #4f4f4f; }
#collectionsDropdown a:hover {
  color: #262626; 
  text-decoration: none;
  background-color: #f5f5f5;
}
.nav .user-collections-icon,
#theCollectionPage .nav .user-collections-share-icon,
#theCollectionPage .nav .user-collections-mail-icon,
#theCollectionPage .nav .user-collections-clear-icon,
#theCollectionPage .nav .user-collections-delete-icon {
  background: none !important
}
.nav a.addCollection .user-collections-icon:before {
  content:"\f006";
  font-family:"FontAwesome";
  font-weight: 400;
}
#theCollectionPage .user-collections-share-icon:before {
  content:"\f045";
  font-family:"FontAwesome";
  font-weight: 400;
}
#theCollectionPage .user-collections-mail-icon:before {
  content:"\f003";
  font-family:"FontAwesome";
  font-weight: 400;
}
#theCollectionPage .user-collections-clear-icon:before {
  content:"\f00d";
  font-family:"FontAwesome";
  font-weight: 400;
}
#theCollectionPage .user-collections-delete-icon:before {
  content:"\f014";
  font-family:"FontAwesome";
  font-weight: 400;
}

/* PWG_Stuffs */
.pwgstuffs-container { padding-top: 20px; }

/* RV Autocomplete */
ul.ui-autocomplete { z-index: 150; }

/* Extended Description */
ul.thumbnailCategories { padding-top: 20px; }

/* Language Switch */
/* Language Switch */
[class*="langflag-text-"] {
  background-position: 0 50px !important;
}
