.navmenu-default {
  background-color: #073642;
  border-color: transparent;
}
.navmenu-default .navmenu-brand {
  color: #ffffff;
}
.navmenu-default .navmenu-brand:hover,
.navmenu-default .navmenu-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navmenu-default .navmenu-text {
  color: #839496;
}
.navmenu-default .navmenu-nav > li > a {
  color: rgba(255, 255, 255, 0.5);
}
.navmenu-default .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}
.navmenu-default .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus {
  color: #ffffff;
  background-color: #062d36;
}
.navmenu-default .navmenu-nav > .disabled > a,
.navmenu-default .navmenu-nav > .disabled > a:hover,
.navmenu-default .navmenu-nav > .disabled > a:focus {
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent;
}
.navmenu-default .navmenu-toggle {
  border-color: rgba(255, 255, 255, 0.25);
}
.navmenu-default .navmenu-toggle:hover,
.navmenu-default .navmenu-toggle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.navmenu-default .navmenu-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.5);
}
.navmenu-default .navmenu-collapse,
.navmenu-default .navmenu-form {
  border-color: transparent;
}
.navmenu-default .navmenu-nav > .open > a,
.navmenu-default .navmenu-nav > .open > a:hover,
.navmenu-default .navmenu-nav > .open > a:focus {
  background-color: #062d36;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navmenu-default .navmenu-nav .open .dropdown-menu > li > a {
    color: rgba(255, 255, 255, 0.5);
  }
  .navmenu-default .navmenu-nav .open .dropdown-menu > li > a:hover,
  .navmenu-default .navmenu-nav .open .dropdown-menu > li > a:focus {
    color: rgba(255, 255, 255, 0.75);
    background-color: transparent;
  }
  .navmenu-default .navmenu-nav .open .dropdown-menu > .active > a,
  .navmenu-default .navmenu-nav .open .dropdown-menu > .active > a:hover,
  .navmenu-default .navmenu-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #062d36;
  }
  .navmenu-default .navmenu-nav .open .dropdown-menu > .disabled > a,
  .navmenu-default .navmenu-nav .open .dropdown-menu > .disabled > a:hover,
  .navmenu-default .navmenu-nav .open .dropdown-menu > .disabled > a:focus {
    color: rgba(255, 255, 255, 0.25);
    background-color: transparent;
  }
}
.navmenu-default .navmenu-link {
  color: rgba(255, 255, 255, 0.5);
}
.navmenu-default .navmenu-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
.navmenu-default .btn-link {
  color: rgba(255, 255, 255, 0.5);
}
.navmenu-default .btn-link:hover,
.navmenu-default .btn-link:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navmenu-default .btn-link[disabled]:hover,
fieldset[disabled] .navmenu-default .btn-link:hover,
.navmenu-default .btn-link[disabled]:focus,
fieldset[disabled] .navmenu-default .btn-link:focus {
  color: rgba(255, 255, 255, 0.25);
}
