// Comments

#disqus_thread {
  margin-top: 20px;
}
#commentList .comment {
  clear: both;
}
#commentList .comment .image img {
  float: left;
  width: 80px;
  height: 80px;
}
#commentList .comment .description {
  margin-left: 100px;
}
#commentList .comment .description form {
  margin-top: 15px;
  margin-bottom: 15px;
}
#commentList .comment .description .actions {
  float: right;
  font-size: 90%;
}
.comment-search {
  margin-top: 20px;
}
