.page-header{
    height: 100vh;
    max-height: 1050px;
    padding: 0;
    color: $white;
    position: relative;

    background-position: center center;
    background-size: cover;

    .page-header-image{
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .container{
        height: 100%;
        z-index: 1;
        text-align: center;
        position: relative;

        > .content-center{
            position: absolute;
            top: 50%;
            left: 50%;

            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

            text-align: center;
            padding: 0 15px;
            color: #FFFFFF;
            width: 100%;
            max-width: 880px;
        }
    }

    &.page-header-small{
        height: 60vh;
        max-height: 440px;
    }

    &:after,
    &:before{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
    }

    &:before{
        background-color: rgba(0,0,0,.5);
    }

    //&[filter-color="orange"]{
    //    @include linear-gradient(rgba($black-color,.20), rgba(224, 23, 3, 0.6));
    //}

    .container{
        z-index: 2;
    }

}
