/* Search page */
.mcs-container .filter-filled,
.filter-manager, .filter-validate,
.filter-manager:hover,
.filter-validate:hover,
.filetypes-option label .ext-badge,
.added_by-option label .added_by-badge,
.date_posted-option label .date_posted-badge,
.mcs-side-results > div,
.filter-manager,
.filter-validate,
.mcs-container .filter-filled,
.mcs-container .filter-filled .filter-icon,
.mcs-side-results.search-in-set-button a{
  background-color:var(--primary);
  color:var(--white)!important;
}

.filetypes-option label .ext-badge,
.added_by-option label .added_by-badge,
.date_posted-badge,
.date_created-badge,
.ratios-option label .ratio-badge,
.ratings-option label .ratings-badge{
  background-color:var(--primary) !important;
}

.filetypes-option label .checked-icon,
.added_by-option label .checked-icon,
.date_posted-option label .checked-icon,
.date_created-option label .checked-icon,
.ratios-option label .checked-icon,
.ratings-option label .checked-icon,
.clear-all.clickable{
  color:var(--primary) !important;
}

.date_posted-option .accordion-toggle:hover,
.date_created-option .accordion-toggle:hover,
.filter-form .filter-form-title{
  color:var(--info);
}

.breadcrumb-item{
  background-color:var(--info);
}

.date_posted-option input:checked + label,
.preset_posted_date .date_posted-option input:checked + label,
.date_created-option input:checked + label,
.preset_posted_date .date_created-option input:checked + label,
.custom_posted_date .selected input:checked,
.added_by-option input:checked + label,
.filetypes-option input:checked + label,
.date_posted-option .selected label,
.date_posted-option .selected .accordion-toggle,
.date_created-option .selected label,
.date_created-option .selected .accordion-toggle, 
.ratios-option input:checked + label,
.ratings-option input:checked + label{
  background: var(--cyan)!important;
  color:var(--white);
}

.slider-info{
  color:var(--gray) !important;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-slider-range.ui-widget-header.ui-corner-all{
  border: 1px solid var(--primary);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-slider .ui-slider-range{
  background: var(--primary);
}

.date_posted-option.day,
.date_created-option.day {
  margin-right: 0px!important;
}

.mcs-container .filter-filled {
  border: 1px solid var(--primary)!important;
}

.no_filtered_photos{
  color:var(--dark);
}

.dropdown-header{
  color:#fff;
}

/* Related tages */

span.related-tags{
  background-color:#eee;
}

span.related-tags:hover{
  background-color:#008cba;
}

#selected-tags-container .selected-related-tag {
  background-color: #e9ecef;
  border: 1px solid #dbdbdb;
  color: #008cba;
}

span.related-tags .tag-counter{
  color:#222;
}

span.related-tags a{
  color:#222;
  font-size: .820312rem;
  font-weight: 300;
}

span.related-tags:hover a{
  color:var(--light);
}


#selected-tags-container .selected-related-tag a{
  color:#4f4f4f!important;
}

#selected-tags-container .selected-related-tag a:hover,
#selected-tags-container .selected-related-tag a.selected-related-tag-remove:hover{
  color:#000!important;
}