// Material core overrides
@import "node_modules/bootstrap-material-design/scss/variables/colors";

// variable overrides
$bmd-navbar-link-font-size: 1rem !default;
$brand-primary: theme-color('primary') !default;
$navbar-dark-color: rgba($white,.75) !default;

// import
@import "node_modules/bootstrap-material-design/scss/bootstrap-material-design";
