/* Search page */
.ClosePopIn {
  color: white!important;
}

.filetypes-option label .ext-badge,
.added_by-option label .added_by-badge,
.date_posted-badge,
.date_created-badge,
.ratios-option label .ratio-badge,
.ratings-option label .ratings-badge{
  background-color:var(--primary) !important;
}

.filetypes-option label .checked-icon,
.added_by-option label .checked-icon,
.date_posted-option label .checked-icon,
.date_cretaed-option label .checked-icon,
.ratios-option label .checked-icon,
.ratings-option label .checked-icon{
  color:var(--primary) !important;
}

.date_posted-option .accordion-toggle:hover,
.date_created-option .accordion-toggle:hover{
  color:var(--primary);
}

.date_posted-option input:checked + label,
.preset_posted_date .date_posted-option input:checked + label,
.custom_posted_date .selected input:checked,
.date_created-option input:checked + label,
.preset_created_date .date_created-option input:checked + label,
.custom_created_date .selected input:checked,
.added_by-option input:checked + label,
.filetypes-option input:checked + label,
.date_posted-option .selected label,
.date_posted-option .selected .accordion-toggle, 
.date_created-option .selected label,
.date_created-option .selected .accordion-toggle,
.ratios-option input:checked + label,
.ratings-option input:checked + label{
  background: var(--secondary)!important;
}

.slider-info{
  color:var(--gray) !important;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-slider-range.ui-widget-header.ui-corner-all{
  border: 1px solid #2fa4e7;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-slider .ui-slider-range{
  background: #2fa4e7;
}

/* Related tages */

span.related-tags{
  background-color:var(--light);
  color:var(--primary);
}

span.related-tags:hover{
  background-color:#2fa4e7;
}

#selected-tags-container .selected-related-tag {
  background-color: #e9ecef;
  border: 1px solid #dbdbdb;
  color: #2fa4e7;
}

span.related-tags .tag-counter{
  color:#212529;
}

span.related-tags a{
  color:var(--primary);
}

span.related-tags:hover a{
  color:var(--light);
}


#selected-tags-container .selected-related-tag a{
  color:#4f4f4f!important;
}

#selected-tags-container .selected-related-tag a:hover,
#selected-tags-container .selected-related-tag a.selected-related-tag-remove:hover{
  color:#000!important;
}
