#configContent fieldset.mainConf label.radio {
  display: inline-block;
  width: 120px;
}

fieldset>h4 { text-align: left !important;}
span.info { padding-left: 20px; }

#bootswatch_theme { display: none;}
