#configContent fieldset.mainConf label.radio {
  display: inline-block;
  width: 120px;
}

fieldset>h4 { text-align: left !important;}
span.info { padding-left: 20px; }

@media (min-width: 768px) {
  .dl-horizontal dt {
     float: left;
     width: 160px;
     overflow: hidden;
     clear: left;
     text-align: right;
     text-overflow: ellipsis;
     white-space: nowrap;
  }
  .dl-horizontal dd {
     margin-left: 180px;
  }
}
.dl-horizontal dd:before,
.dl-horizontal dd:after { 
  display: table;
  content: " ";
}
.dl-horizontal dd:after { clear: both; }

#boostrap_theme_descr { padding-top: 15px; }

#bootswatch_theme,
#bootswatch_theme_label,
#theme_preview,
#material_color,
#material_color_label {
  display: none;
}
